
html,
body {
  height: 100%;
  margin: 0;
}

div.DraftEditor-root {
    background-color: white;
    height: 100vh;
    overflow-y: auto;
    -webkit-user-select: text;
}

.public-DraftEditorPlaceholder-root{
    margin-top: 10px;
    position: absolute;
    color: #999999;
    font-family: Nunito;
    font-size: 14px;
    /* font-weight: bold; */
    letter-spacing: 0;
    line-height: 16px;
}

div.DraftEditor-editorContainer {
    /* height: 100vh; */
    /* background-color:green; */
} 

div.public-DraftEditor-content{
    /* height: 100vh; */
    min-height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: hotpink; */
}

