
html,
body {
  height: 100%;
  margin: 0;
}

/* @font-face {
    font-family: 'NunitoBold';
    src: local('NunitoBold'), url(./fonts/Nunito-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'NunitoRegular';
    src: local('NunitoRegular'), url(./fonts/Nunito-Regular.ttf) format('truetype');
} */

div.DraftEditor-root {
    background-color: white;
    height: 100vh;
    overflow-y: auto;
    -webkit-user-select: text;
}

.public-DraftEditorPlaceholder-root{
    margin-top: 10px;
    position: absolute;
    color: #999999;
    font-family: 'Nunito' , Bold;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}

div.DraftEditor-editorContainer {
    /* height: 100vh; */
    /* background-color:green; */
} 

div.public-DraftEditor-content{
    /* height: 100vh; */
    min-height: 150px;
    /* font-size: 14px; */
    /* font-size: 40px; */
    font-family: 'Nunito' , Regular;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: hotpink; */
}

