
html,
body {
  height: 100%;
  margin: 0;
}

div.DraftEditor-root {
    background-color: white;
    height: 100vh;
    overflow-y: auto;
}

div.DraftEditor-editorContainer,div.public-DraftEditor-content {
    height: 100%;
}

.public-DraftEditorPlaceholder-root{
    position: absolute
}

